In [103]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly as py
import plotly.graph_objects as go

In [104]:
df=pd.read_csv('loan.csv')

C:\kosta\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning:

Columns (19,47,55,112,123,124,125,128,129,130,133,139,140,141) have mixed types. Specify dtype option on import or set low_memory=False.

In [105]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,2500,2500,2500.0,36 months,13.56,84.92,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,30000,30000,30000.0,60 months,18.94,777.23,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,5000,5000,5000.0,36 months,17.97,180.69,D,D1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,4000,4000,4000.0,36 months,18.94,146.51,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,30000,30000,30000.0,60 months,16.14,731.78,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [106]:
df.shape

(2260668, 145)

In [107]:
df=df.drop(columns=['id','member_id','url'])

In [108]:
for col in df.columns:
    print(col)

loan_amnt
funded_amnt
funded_amnt_inv
term
int_rate
installment
grade
sub_grade
emp_title
emp_length
home_ownership
annual_inc
verification_status
issue_d
loan_status
pymnt_plan
desc
purpose
title
zip_code
addr_state
dti
delinq_2yrs
earliest_cr_line
inq_last_6mths
mths_since_last_delinq
mths_since_last_record
open_acc
pub_rec
revol_bal
revol_util
total_acc
initial_list_status
out_prncp
out_prncp_inv
total_pymnt
total_pymnt_inv
total_rec_prncp
total_rec_int
total_rec_late_fee
recoveries
collection_recovery_fee
last_pymnt_d
last_pymnt_amnt
next_pymnt_d
last_credit_pull_d
collections_12_mths_ex_med
mths_since_last_major_derog
policy_code
application_type
annual_inc_joint
dti_joint
verification_status_joint
acc_now_delinq
tot_coll_amt
tot_cur_bal
open_acc_6m
open_act_il
open_il_12m
open_il_24m
mths_since_rcnt_il
total_bal_il
il_util
open_rv_12m
open_rv_24m
max_bal_bc
all_util
total_rev_hi_lim
inq_fi
total_cu_tl
inq_last_12m
acc_open_past_24mths
avg_cur_bal
bc_open_to_buy
bc_util
chargeoff_within_12_mths
delinq_amnt
mo_sin_old_il_acct
mo_sin_old_rev_tl_op
mo_sin_rcnt_rev_tl_op
mo_sin_rcnt_tl
mort_acc
mths_since_recent_bc
mths_since_recent_bc_dlq
mths_since_recent_inq
mths_since_recent_revol_delinq
num_accts_ever_120_pd
num_actv_bc_tl
num_actv_rev_tl
num_bc_sats
num_bc_tl
num_il_tl
num_op_rev_tl
num_rev_accts
num_rev_tl_bal_gt_0
num_sats
num_tl_120dpd_2m
num_tl_30dpd
num_tl_90g_dpd_24m
num_tl_op_past_12m
pct_tl_nvr_dlq
percent_bc_gt_75
pub_rec_bankruptcies
tax_liens
tot_hi_cred_lim
total_bal_ex_mort
total_bc_limit
total_il_high_credit_limit
revol_bal_joint
sec_app_earliest_cr_line
sec_app_inq_last_6mths
sec_app_mort_acc
sec_app_open_acc
sec_app_revol_util
sec_app_open_act_il
sec_app_num_rev_accts
sec_app_chargeoff_within_12_mths
sec_app_collections_12_mths_ex_med
sec_app_mths_since_last_major_derog
hardship_flag
hardship_type
hardship_reason
hardship_status
deferral_term
hardship_amount
hardship_start_date
hardship_end_date
payment_plan_start_date
hardship_length
hardship_dpd
hardship_loan_status
orig_projected_additional_accrued_interest
hardship_payoff_balance_amount
hardship_last_payment_amount
disbursement_method
debt_settlement_flag
debt_settlement_flag_date
settlement_status
settlement_date
settlement_amount
settlement_percentage
settlement_term

In [109]:
lcdloanstats=pd.read_excel('LCDataDictionary.xlsx','LoanStats')

In [110]:
lcdloanstats

               LoanStatNew                                        Description
0           acc_now_delinq  The number of accounts on which the borrower i...
1     acc_open_past_24mths         Number of trades opened in past 24 months.
2               addr_state  The state provided by the borrower in the loan...
3                 all_util              Balance to credit limit on all trades
4               annual_inc  The self-reported annual income provided by th...
..                     ...                                                ...
148      settlement_amount  The loan amount that the borrower has agreed t...
149  settlement_percentage  The settlement amount as a percentage of the p...
150        settlement_term  The number of months that the borrower will be...
151                    NaN                                                NaN
152                    NaN  * Employer Title replaces Employer Name for al...

[153 rows x 2 columns]

In [111]:
desc_columns=lcdloanstats.loc[lcdloanstats['LoanStatNew'].isin(df.columns)]

In [102]:
# df=df[desc_columns.LoanStatNew.values]

In [114]:
brows_cols=[]
for col in df.columns:
    if col not in desc_columns.values:
        brows_cols.append(col)
brows_cols

['verification_status_joint',
 'total_rev_hi_lim',
 'revol_bal_joint',
 'sec_app_earliest_cr_line',
 'sec_app_inq_last_6mths',
 'sec_app_mort_acc',
 'sec_app_open_acc',
 'sec_app_revol_util',
 'sec_app_num_rev_accts',
 'sec_app_chargeoff_within_12_mths',
 'sec_app_collections_12_mths_ex_med',
 'sec_app_mths_since_last_major_derog']

In [116]:
df[brows_cols].isna().sum()

verification_status_joint              2144938
total_rev_hi_lim                         70276
revol_bal_joint                        2152648
sec_app_earliest_cr_line               2152647
sec_app_inq_last_6mths                 2152647
sec_app_mort_acc                       2152647
sec_app_open_acc                       2152647
sec_app_revol_util                     2154484
sec_app_num_rev_accts                  2152647
sec_app_chargeoff_within_12_mths       2152647
sec_app_collections_12_mths_ex_med     2152647
sec_app_mths_since_last_major_derog    2224726
dtype: int64

In [132]:
df.dropna(axis='columns').columns

Index(['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'home_ownership',
       'verification_status', 'issue_d', 'loan_status', 'pymnt_plan',
       'purpose', 'addr_state', 'revol_bal', 'initial_list_status',
       'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv',
       'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_amnt', 'policy_code',
       'application_type', 'hardship_flag', 'disbursement_method',
       'debt_settlement_flag'],
      dtype='object')

In [138]:
sum(df.funded_amnt==df.funded_amnt_inv)

2109556

In [139]:
df.loc[df.funded_amnt!=df.funded_amnt_inv]

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
25,15000,15000,14975.0,60 months,14.47,352.69,C,C2,NaN,NaN,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
38,6000,6000,5975.0,36 months,6.46,183.79,A,A1,Substance Abuse Counselor,1 year,...,NaN,NaN,DirectPay,N,NaN,NaN,NaN,NaN,NaN,NaN
46,7500,7500,7475.0,36 months,11.80,248.40,B,B4,NaN,NaN,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
47,7000,7000,6975.0,36 months,10.72,228.25,B,B2,Business Analyst,< 1 year,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
63,9000,9000,8975.0,36 months,6.46,275.68,A,A1,Driver,10+ years,...,NaN,NaN,DirectPay,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260629,12225,12225,12175.0,36 months,21.45,463.41,D,D5,Driver,10+ years,...,NaN,NaN,Cash,Y,Oct-2018,ACTIVE,Sep-2018,5381.26,45.0,24.0
2260632,16000,16000,15950.0,36 months,17.09,571.17,D,D1,pharmacist,3 years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260633,30000,30000,29725.0,60 months,30.17,973.74,F,F3,Lead,10+ years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260642,32400,32400,32375.0,36 months,20.00,1204.11,D,D4,SHIPPING MANGER,3 years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260644,35000,35000,34725.0,60 months,30.75,1148.55,F,F5,Desktop Support Technician,3 years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [162]:
df.loan_status.value_counts()

Fully Paid                                             1041952
Current                                                 919695
Charged Off                                             261655
Late (31-120 days)                                       21897
In Grace Period                                           8952
Late (16-30 days)                                         3737
Does not meet the credit policy. Status:Fully Paid        1988
Does not meet the credit policy. Status:Charged Off        761
Default                                                     31
Name: loan_status, dtype: int64

0         42
10318     17
257838    13
147873    11
257603     9
229670     6
6886       4
10319      2
255926     2
8264       2
6          2
9          1
196413     1
9541       1
162116     1
62         1
210991     1
9738       1
186156     1
259878     1
242724     1
261655     1
259651     1
1          1
25335      1
9814       1
10340      1
170979     1
2260       1
255945     1
257732     1
21693      1
9901       1
20394      1
147881     1
168        1
23442      1
127364     1
151418     1
4729       1
118        1
18282      1
10324      1
dtype: int64

In [25]:
df[['hardship_status','hardship_loan_status']].groupby('hardship_loan_status').describe()

                     hardship_status
                               count unique        top  freq
hardship_loan_status
Current                         2737      3  COMPLETED  2402
In Grace Period                 2806      3  COMPLETED  1877
Issued                            15      1  COMPLETED    15
Late (16-30 days)               4622      3  COMPLETED  2956
Late (31-120 days)               433      3  COMPLETED   291

In [81]:
df_col_desc=pd.DataFrame()
df_col_desc['Loan_Features']=df.columns
desc=[]
for col in df.columns:
    desc.append(lcdloanstats.loc[lcdloanstats['LoanStatNew']==col]['Description'].values.astype(str))
df_col_desc['Description']=desc

IndexError: index 0 is out of bounds for axis 0 with size 0

In [72]:
lcdloanstats.loc[lcdloanstats['LoanStatNew']==col]['Description'].values

array(['The listed amount of the loan applied for by the borrower. If at some point in time, the credit department reduces the loan amount, then it will be reflected in this value.'],
      dtype=object)

In [80]:
df_col_desc['Description'][0][0]

'The listed amount of the loan applied for by the borrower. If at some point in time, the credit department reduces the loan amount, then it will be reflected in this value.'

In [26]:
df_hardship=df.loc[df['hardship_status'].isna()==False]

In [96]:
notinloanstats

True

In [29]:
df_hardship['loan_status'].value_counts()

Charged Off           3817
Current               3026
Late (31-120 days)    1663
Fully Paid            1518
In Grace Period        384
Late (16-30 days)      205
Name: loan_status, dtype: int64

In [30]:
df_hardship['hardship_status'].value_counts()

COMPLETED    7541
BROKEN       2187
ACTIVE        885
Name: hardship_status, dtype: int64

In [31]:
df_hardship.loc[df['loan_status']=='Charged Off']['hardship_status'].value_counts()

COMPLETED    2003
BROKEN       1813
ACTIVE          1
Name: hardship_status, dtype: int64

In [64]:
desc

[41    The listed amount of the loan applied for by t...
 Name: Description, dtype: object,
 23    The total amount committed to that loan at tha...
 Name: Description, dtype: object,
 24    The total amount committed by investors for th...
 Name: Description, dtype: object,
 94    The number of payments on the loan. Values are...
 Name: Description, dtype: object,
 34    Interest Rate on the loan
 Name: Description, dtype: object,
 33    The monthly payment owed by the borrower if th...
 Name: Description, dtype: object,
 25    LC assigned loan grade
 Name: Description, dtype: object,
 92    LC assigned loan subgrade
 Name: Description, dtype: object,
 20    The job title supplied by the Borrower when ap...
 Name: Description, dtype: object,
 19    Employment length in years. Possible values ar...
 Name: Description, dtype: object,
 26    The home ownership status provided by the borr...
 Name: Description, dtype: object,
 4    The self-reported annual income provided by th...
 Name: Description, dtype: object,
 112    Indicates if income was verified by LC, not ve...
 Name: Description, dtype: object,
 35    The month which the loan was funded
 Name: Description, dtype: object,
 42    Current status of the loan
 Name: Description, dtype: object,
 88    Indicates if a payment plan has been put in pl...
 Name: Description, dtype: object,
 15    Loan description provided by the borrower
 Name: Description, dtype: object,
 87    A category provided by the borrower for the lo...
 Name: Description, dtype: object,
 95    The loan title provided by the borrower
 Name: Description, dtype: object,
 114    The first 3 numbers of the zip code provided b...
 Name: Description, dtype: object,
 2    The state provided by the borrower in the loan...
 Name: Description, dtype: object,
 16    A ratio calculated using the borrowerâ€™s total ...
 Name: Description, dtype: object,
 13    The number of 30+ days past-due incidences of ...
 Name: Description, dtype: object,
 18    The month the borrower's earliest reported cre...
 Name: Description, dtype: object,
 32    The number of inquiries in past 6 months (excl...
 Name: Description, dtype: object,
 50    The number of months since the borrower's last...
 Name: Description, dtype: object,
 52    The number of months since the last public rec...
 Name: Description, dtype: object,
 73    The number of open credit lines in the borrowe...
 Name: Description, dtype: object,
 85    Number of derogatory public records
 Name: Description, dtype: object,
 90    Total credit revolving balance
 Name: Description, dtype: object,
 91    Revolving line utilization rate, or the amount...
 Name: Description, dtype: object,
 99    The total number of credit lines currently in ...
 Name: Description, dtype: object,
 29    The initial listing status of the loan. Possib...
 Name: Description, dtype: object,
 80    Remaining outstanding principal for total amou...
 Name: Description, dtype: object,
 81    Remaining outstanding principal for portion of...
 Name: Description, dtype: object,
 105    Payments received to date for total amount funded
 Name: Description, dtype: object,
 106    Payments received to date for portion of total...
 Name: Description, dtype: object,
 109    Principal received to date
 Name: Description, dtype: object,
 107    Interest received to date
 Name: Description, dtype: object,
 108    Late fees received to date
 Name: Description, dtype: object,
 89    post charge off gross recovery
 Name: Description, dtype: object,
 11    post charge off collection fee
 Name: Description, dtype: object,
 40    Last month payment was received
 Name: Description, dtype: object,
 39    Last total payment amount received
 Name: Description, dtype: object,
 58    Next scheduled payment date
 Name: Description, dtype: object,
 36    The most recent month LC pulled credit for thi...
 Name: Description, dtype: object,
 12    Number of collections in 12 months excluding m...
 Name: Description, dtype: object,
 51    Months since most recent 90-day or worse rating
 Name: Description, dtype: object,
 84    publicly available policy_code=1\nnew products...
 Name: Description, dtype: object,
 6    Indicates whether the loan is an individual ap...
 Name: Description, dtype: object,
 5    The combined self-reported annual income provi...
 Name: Description, dtype: object,
 17    A ratio calculated using the co-borrowers' tot...
 Name: Description, dtype: object,
 Series([], Name: Description, dtype: object),
 0    The number of accounts on which the borrower i...
 Name: Description, dtype: object,
 96    Total collection amounts ever owed
 Name: Description, dtype: object,
 97    Total current balance of all accounts
 Name: Description, dtype: object,
 74    Number of open trades in last 6 months
 Name: Description, dtype: object,
 77    Number of currently active installment trades
 Name: Description, dtype: object,
 75    Number of installment accounts opened in past ...
 Name: Description, dtype: object,
 76    Number of installment accounts opened in past ...
 Name: Description, dtype: object,
 53    Months since most recent installment accounts ...
 Name: Description, dtype: object,
 101    Total current balance of all installment accounts
 Name: Description, dtype: object,
 28    Ratio of total current balance to high credit/...
 Name: Description, dtype: object,
 78    Number of revolving trades opened in past 12 m...
 Name: Description, dtype: object,
 79    Number of revolving trades opened in past 24 m...
 Name: Description, dtype: object,
 43    Maximum current balance owed on all revolving ...
 Name: Description, dtype: object,
 3    Balance to credit limit on all trades
 Name: Description, dtype: object,
 Series([], Name: Description, dtype: object),
 30    Number of personal finance inquiries
 Name: Description, dtype: object,
 103    Number of finance trades
 Name: Description, dtype: object,
 31    Number of credit inquiries in past 12 months
 Name: Description, dtype: object,
 1    Number of trades opened in past 24 months.
 Name: Description, dtype: object,
 7    Average current balance of all accounts
 Name: Description, dtype: object,
 8    Total open to buy on revolving bankcards.
 Name: Description, dtype: object,
 9    Ratio of total current balance to high credit/...
 Name: Description, dtype: object,
 10    Number of charge-offs within 12 months
 Name: Description, dtype: object,
 14    The past-due amount owed for the accounts on w...
 Name: Description, dtype: object,
 45    Months since oldest bank installment account o...
 Name: Description, dtype: object,
 46    Months since oldest revolving account opened
 Name: Description, dtype: object,
 47    Months since most recent revolving account opened
 Name: Description, dtype: object,
 48    Months since most recent account opened
 Name: Description, dtype: object,
 49    Number of mortgage accounts.
 Name: Description, dtype: object,
 54    Months since most recent bankcard account opened.
 Name: Description, dtype: object,
 55    Months since most recent bankcard delinquency
 Name: Description, dtype: object,
 56    Months since most recent inquiry.
 Name: Description, dtype: object,
 57    Months since most recent revolving delinquency.
 Name: Description, dtype: object,
 59    Number of accounts ever 120 or more days past due
 Name: Description, dtype: object,
 60    Number of currently active bankcard accounts
 Name: Description, dtype: object,
 61    Number of currently active revolving trades
 Name: Description, dtype: object,
 62    Number of satisfactory bankcard accounts
 Name: Description, dtype: object,
 63    Number of bankcard accounts
 Name: Description, dtype: object,
 64    Number of installment accounts
 Name: Description, dtype: object,
 65    Number of open revolving accounts
 Name: Description, dtype: object,
 66    Number of revolving accounts
 Name: Description, dtype: object,
 67    Number of revolving trades with balance >0
 Name: Description, dtype: object,
 68    Number of satisfactory accounts
 Name: Description, dtype: object,
 69    Number of accounts currently 120 days past due...
 Name: Description, dtype: object,
 70    Number of accounts currently 30 days past due ...
 Name: Description, dtype: object,
 71    Number of accounts 90 or more days past due in...
 Name: Description, dtype: object,
 72    Number of accounts opened in past 12 months
 Name: Description, dtype: object,
 82    Percent of trades never delinquent
 Name: Description, dtype: object,
 83    Percentage of all bankcard accounts > 75% of l...
 Name: Description, dtype: object,
 86    Number of public record bankruptcies
 Name: Description, dtype: object,
 93    Number of tax liens
 Name: Description, dtype: object,
 98    Total high credit/credit limit
 Name: Description, dtype: object,
 100    Total credit balance excluding mortgage
 Name: Description, dtype: object,
 102    Total bankcard high credit/credit limit
 Name: Description, dtype: object,
 104    Total installment high credit/credit limit
 Name: Description, dtype: object,
 Series([], Name: Description, dtype: object),
 Series([], Name: Description, dtype: object),
 Series([], Name: Description, dtype: object),
 Series([], Name: Description, dtype: object),
 Series([], Name: Description, dtype: object),
 Series([], Name: Description, dtype: object),
 123     Number of currently active installment trades...
 Name: Description, dtype: object,
 Series([], Name: Description, dtype: object),
 Series([], Name: Description, dtype: object),
 Series([], Name: Description, dtype: object),
 Series([], Name: Description, dtype: object),
 128    Flags whether or not the borrower is on a hard...
 Name: Description, dtype: object,
 129    Describes the hardship plan offering
 Name: Description, dtype: object,
 130    Describes the reason the hardship plan was off...
 Name: Description, dtype: object,
 131    Describes if the hardship plan is active, pend...
 Name: Description, dtype: object,
 132    Amount of months that the borrower is expected...
 Name: Description, dtype: object,
 133    The interest payment that the borrower has com...
 Name: Description, dtype: object,
 134    The start date of the hardship plan period
 Name: Description, dtype: object,
 135    The end date of the hardship plan period
 Name: Description, dtype: object,
 136    The day the first hardship plan payment is due...
 Name: Description, dtype: object,
 137    The number of months the borrower will make sm...
 Name: Description, dtype: object,
 138    Account days past due as of the hardship plan ...
 Name: Description, dtype: object,
 139    Loan Status as of the hardship plan start date
 Name: Description, dtype: object,
 140    The original projected additional interest amo...
 Name: Description, dtype: object,
 141    The payoff balance amount as of the hardship p...
 Name: Description, dtype: object,
 142    The last payment amount as of the hardship pla...
 Name: Description, dtype: object,
 143    The method by which the borrower receives thei...
 Name: Description, dtype: object,
 144    Flags whether or not the borrower, who has cha...
 Name: Description, dtype: object,
 145    The most recent date that the Debt_Settlement_...
 Name: Description, dtype: object,
 146    The status of the borrowerâ€™s settlement plan. ...
 Name: Description, dtype: object,
 147    The date that the borrower agrees to the settl...
 Name: Description, dtype: object,
 148    The loan amount that the borrower has agreed t...
 Name: Description, dtype: object,
 149    The settlement amount as a percentage of the p...
 Name: Description, dtype: object,
 150    The number of months that the borrower will be...
 Name: Description, dtype: object]